{% extends "myGroceries/layout.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
{% if form.errors %}
  <p>Votre adresse et votre mot de passe ne concordent pas. Essayez à nouveau.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-group">
  <td>{{ form.username|add_class:"form-control"|append_attr:"placeholder:Votre adresse mail" }}</td>
</div>
<div class="form-group">
  <td>{{ form.password|add_class:"form-control"|append_attr:"placeholder:Votre mot de passe" }}</td>
</div>

<p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
<div class="col-md-offset-4">
  <input type="submit" class="save btn" value="Se connecter" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

</div>
{% endblock %}