{% extends 'myGroceries/layout.html' %}

{% block title %}Ajouter des produits à mes courses{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'myGroceries:homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'myGroceries:event_detail' name_event=event.name %}">{{ event.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ajouter des courses</li>
  </ol>
</nav>

    <form action="{% url 'myGroceries:add_products_to_event_act' name_event=event.name %}" method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
        {% for product in products %}
            <tr class="table-success">
                <td><input type="checkbox" name="products_post" value="{{ product.name }}"> {{ product.name }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td><button type="submit" class="btn">Ajouter</button></td>
            </tr>
        </table>
        </div>
    </form>

{% endblock %}