{% extends 'myGroceries/layout.html' %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'myGroceries:homepage' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
  </ol>
</nav>

<p>Nom : {{ event.name }}
{% if user == event.host %}
	 (<!--<a href="{% url 'myGroceries:update_event' name_event=event.name %}">Modifier</a> / -->
	<a href="{% url 'myGroceries:delete_event' name_event=event.name %}">Supprimer</a>)
{% endif %}</p>
<p>Description : {{ event.description }}</p>
<p>Dates : du {{ event.start_date }} au {{ event.end_date }}</p>
<br/>

<div class="table-responsive">
 	<table class="table">
 		{% if user == event.host %}
 		<tr>
 			<td colspan="2"><a href="{% url 'myGroceries:invitation_to_my_event' name_event=event.name %}">Inviter</a></td>
 		</tr>
 		{% endif %}
		{% for guest in guest_groceries %}
		<tr>
			<td>
				{{ guest.user.username }}
			</td>
			<td>{% for c in guest.product.all %}- {{c}}<br/> {% endfor %}{% if guest.user == user %}<a href="{% url 'myGroceries:add_products_to_event' name_event=event.name %}">+ ajouter</a>{% endif %}</td>
		</tr>
		{% endfor %}
		{% for invite in invited %}
 		<tr>
 			<td colspan="2" style="color: grey;">
 				{{ invite.guest.username}}</td>
 		</tr>
 		{% endfor %}
	</table>
</div>
{% endblock %}