{% extends 'myGroceries/layout.html' %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}

{% if user == event.host %}
	<a href="" class="btn btn-primary">Modifier</a>
	<a href="" class="btn btn-primary">Supprimer</a>
{% endif %}

<H1>{{ event.name }}</H1>
<H2>{{ event.description }}</H2>
<H3>Du {{ event.start_date }} au {{ event.end_date }}</H3>

<div class="table-responsive">
 	<table class="table">
		<thead class="table-success">
			<th>Invités</th>
			<th>Ses courses</th>
		</thead>
		{% for guest in guest_groceries %}
		<tr class="table-success">
			<td>{{ guest.user.username }}</td>
			<td>{% for c in guest.product.all %}{{c}} {% endfor %}{% if guest.user == user %}<a href="">ajouter</a>{% endif %}</td>
		</tr>
		{% endfor %}
	</table>
	{% if user == event.host %}
	<a href="{% url 'myGroceries:invitation_to_my_event' name_event=event.name %}" class="btn btn-primary">Inviter</a>
	{% endif %}
</div>
{% endblock %}