{% extends 'myGroceries/layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

{% if hostingevents %}
<h3>Mes événements ({{ hostingevents|length }})<a class='btn btn-light' style='margin-bottom:5px' href="{% url 'myGroceries:create_event' %}"><span class='glyphicon glyphicon-plus'></span></a></h3>


<div class="table-responsive">
 <table class="table">
{% for hostingevent in hostingevents %}
	<tr>
		<td><a  href="{% url 'myGroceries:event_detail' name_event=hostingevent.name %}">{{ hostingevent.name }}</a></td>
		<td>{{ hostingevent.start_date }} au {{ hostingevent.end_date }}</td>
		<td>{{ hostingevent.description }}</td>
	</tr>
{% endfor %}
</table>
</div>
{% else %}
<a class='btn btn-light pull-left' style='margin-bottom:5px' href="{% url 'myGroceries:create_event' %}"><span class='glyphicon glyphicon-plus'></span> Créer un événement</a><br/>

{% endif %}
<br>


<h3>Mes invitations ({{ guesttoevents|length }})</h3>
{% if guesttoevents %}
<div class="table-responsive">
 <table class="table">
{% for guesttoevent in guesttoevents %}
	<tr class="table-success">
		<td><a href="{% url 'myGroceries:event_detail' name_event=guesttoevent.event.name %}">{{ guesttoevent.event.name }}</a></td>
		<td>{{ guesttoevent.event.start_date }} au {{ guesttoevent.event.end_date }}</td>
		<td>{{ guesttoevent.event.description }}</td>
		<td>
			<a href="{% url 'myGroceries:invitation_to_my_event_accept' name_event=guesttoevent.event.name %}" class="btn btn-primary">accepter</a>
			<a href="{% url 'myGroceries:invitation_to_my_event_refuse' name_event=guesttoevent.event.name %}" class="btn btn-secondary">refuser</a>
		</td>
	</tr>
{% endfor %}
</table>
</div>
{% else %}
Vous n'avez aucune invitation pour le moment
{% endif %}

<h3>Mes participations ({{ guesttoparticipants|length }})</h3>
{% if guesttoparticipants %}
<div class="table-responsive">
 <table class="table">
{% for guesttoparticipant in guesttoparticipants %}
	<tr class="table-success">
		<td><a href="{% url 'myGroceries:event_detail' name_event=guesttoparticipant.event.name %}">{{ guesttoparticipant.event.name }}</a></td>
		<td>{{ guesttoparticipant.event.start_date }} au {{ guesttoparticipant.event.end_date }}</td>
		<td>{{ guesttoparticipant.event.description }}</td>
		<td><a href="{% url 'myGroceries:participation_to_my_event_cancel' name_event=guesttoparticipant.event.name %}">annuler</a></td>
	</tr>
{% endfor %}
</table>
</div>
{% else %}
Vous ne participez à aucun événement actuellement
{% endif %}

{% endblock %}