{% extends 'myGroceries/layout.html' %}

{% block title %}Inviter{% endblock %}

{% block content %}
<h1>{{ event }}</h1>
<h2>Inviter du monde</h2>
    <a class='btn btn-light pull-left' style='margin-bottom:5px' href="{% url 'myGroceries:event_detail' name_event=event.name %}">Voir l'événement</a>
    <a class='btn btn-light pull-left' style='margin-bottom:5px' href="{% url 'myGroceries:homepage' %}">Page d'accueil</a><br/>

    <form action="{% url 'myGroceries:invitation_to_my_event_act' name_event=event %}" method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
        {% for user in users %}
            {% if user != host %}
            <tr class="table-success">
                <td><input type="checkbox" name="users_post" value="{{ user.username }}"> {{ user.username }}</td>
            </tr>
            {% endif %}
        {% endfor %}
            <tr>
                <td><button type="submit" class="btn btn-primary">Envoyer</button></td>
            </tr>
        </table>
        </div>
    </form>

{% endblock %}