{% extends 'myGroceries/layout.html' %}

{% block title %}Inviter{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'myGroceries:homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'myGroceries:event_detail' name_event=event.name %}">{{ event.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Invités</li>
  </ol>
</nav>

    <form action="{% url 'myGroceries:invitation_to_my_event_act' name_event=event %}" method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
        {% for user in users %}
            {% if user != host %}
            <tr class="table-success">
                <td><input type="checkbox" name="users_post" value="{{ user.username }}"> {{ user.username }}</td>
            </tr>
            {% endif %}
        {% endfor %}
            <tr>
                <td><button type="submit" class="btn">Enregistrer</button></td>
            </tr>
        </table>
        </div>
    </form>

{% endblock %}