{% extends 'myGroceries/layout.html' %}
{% block content %}

{% if hostingevents %}
<h3>Mes événements ({{ hostingevents|length }})</h3>
 <a class='btn btn-light pull-left' style='margin-bottom:5px' href="{% url 'myGroceries:create_event' %}"><span class='glyphicon glyphicon-plus'></span> Créer un événement</a><br/>

<div class="table-responsive">
 <table class="table">
{% for hostingevent in hostingevents %}
	<tr>
		<td><a  href="{% url 'myGroceries:event_detail' id=hostingevent.id %}">{{ hostingevent.name }}</a></td>
		<td>{{ hostingevent.start_date }} au {{ hostingevent.end_date }}</td>
		<td>{{ hostingevent.description }}</td>
	</tr>
{% endfor %}
</table>
</div>
{% else %}
<a class='btn btn-light pull-left' style='margin-bottom:5px' href="{% url 'myGroceries:create_event' %}"><span class='glyphicon glyphicon-plus'></span> Créer un événement</a><br/>

{% endif %}
<br>


<h3>Mes invitations ({{ guesttoevents|length }})</h3>
{% if guesttoevents %}
<div class="table-responsive">
 <table class="table">
{% for guesttoevent in guesttoevents %}
	{% if accepted %}
	<tr class="table-success">
		<td><a href="{% url 'myGroceries:event_detail' id=guesttoevent.id_event %}">{{ guesttoevent.name }}</a></td>
		<td>{{ guesttoevent.start_date }} au {{ guesttoevent.end_date }}</td>
		<td>{{ guesttoevent.description }}</td>
		<td>Participe</td>
	</tr>
	{% else %}
	<tr class="table-warning">
		<td><a href="{% url 'myGroceries:event_detail' id=guesttoevent.id_event %}">{{ guesttoevent.name }}</a></td>
		<td>{{ guesttoevent.start_date }} au {{ guesttoevent.end_date }}</td>
		<td>{{ guesttoevent.description }}</td>
		<td>Ne participe pas</td>
	</tr>
	{% endif %}
{% endfor %}
</table>
</div>
{% else %}
Vous n'avez aucune invitation
{% endif %}

{% endblock %}